{% extends 'base.html' %}

{% block content%}


<div>
<ul class="list-group">
  <div>
    <li class="list-group-item disabled" aria-disabled="true">Информация о книге</li>
    <img src="{{ book.image.url }}" class="img-fluid rounded-3" alt="{{ book.name }}">
  </div>
  <li class="list-group-item">Название книги: {{ book.name }}</li>
  <li class="list-group-item">Автор книги: <a href="{% url 'author-detail' book.author.get.pk %}">{{ book.author.all|join:", "}}</a></li>
  <li class="list-group-item">Описание: {{ book.description }}</li>
  <li class="list-group-item">Дата выхода книги: {{ book.pub_date }}</li>
  <li class="list-group-item">Цена: {{ book.price }}</li>
  <li class="list-group-item">Средний рейтинг: {{ avg_rating }}</li>
  <li class="list-group-item">
    <form method="post" action="{% url 'add-rating' %}">
      <input type="hidden" name="book_id" id="book_id" value="{{ book.id }}">
      {{ form }}
      {% csrf_token %}
    <button type="submit"> Оценить </button>
    </form>
  </li>

</ul>
</div>

    <form action="{% url 'cart:increase-item' book.id %}" method="post">
      {{ cart_product_form }}
      {% csrf_token %}
      <input type="submit" value="Добавить в корзину">
    </form>

{% endblock%}